[package]
name = "coldsnap"
version = "0.3.2"
description = "A library and command-line interface for uploading and downloading Amazon EBS snapshots"
authors = ["Ben Cressey <bcressey@amazon.com>"]
license = "Apache-2.0"
edition = "2018"
readme = "README.md"
repository = "https://github.com/awslabs/coldsnap"
keywords = ["AWS", "Amazon", "EBS", "snapshot"]

[features]
default = ["rusoto-native-tls"]
rusoto-native-tls = ["rusoto_core/native-tls", "rusoto_ebs/native-tls", "rusoto_ec2/native-tls"]
rusoto-rustls = ["rusoto_core/rustls", "rusoto_ebs/rustls", "rusoto_ec2/rustls"]

[dependencies]
argh = "0.1.7"
tokio = { version = "1.8", features = ["fs", "io-util", "time"] }
sha2 = "0.10.2"
bytes = "1"
base64 = "0.13.0"
futures = "0.3.21"
nix = "0.24.1"
rusoto_core = { version = "0.48.0", default-features = false }
rusoto_credential = "0.48.0"
rusoto_ebs = { version = "0.48.0", default-features = false }
rusoto_ec2 = { version = "0.48.0", default-features = false }
rusoto_signature = "0.48.0"
snafu = "0.7"
indicatif = "0.16.2"
tempfile = "3.3.0"
async-trait = "0.1.53"
