name: Rust
on:
  # triggers when a PR is posted
  pull_request:
    branches: [develop]
    paths-ignore:
      - '**.md'
  # triggers when a PR is merged
  push:
    branches: [develop]
    paths-ignore:
      - '**.md'
jobs:
  build:
    strategy:
      matrix:
        include:
          - features: default
          - features: aws-sdk-rust-rustls
            additional_flags: --no-default-features
          - features: aws-sdk-rust-native-tls
            additional_flags: --no-default-features
    env:
       CARGO_HOME: .cargo
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3.0.4
      with:
        path: |
          .cargo
          target
        # you can edit the .github/cache_bust file if you need to clear the cache
        key: ${{ hashFiles('.github/cache_bust') }}-${{ hashFiles('.github/workflows/rust.yml') }}-${{ runner.os }}-${{ matrix.features }}-${{ hashFiles('**/Cargo.lock') }}
        restore-keys: |
          ${{ hashFiles('.github/cache_bust') }}-${{ hashFiles('.github/workflows/rust.yml') }}-${{ runner.os }}-${{ matrix.features }}
    - run: cargo test --features ${{ matrix.features }} ${{ matrix.additional_flags }} --locked
    - run: cargo build --features ${{ matrix.features }} ${{ matrix.additional_flags }} --locked
    - run: cargo clippy --features ${{ matrix.features }} ${{ matrix.additional_flags }} --locked -- -D warnings --no-deps
    - run: cargo fmt -- --check
    - run: cargo install --version 0.9.1 cargo-deny --locked
    - run: cargo deny --features ${{ matrix.features }} --no-default-features check --disable-fetch licenses bans sources
